 :root {
            /* Colores principales del negocio */
            --color-primary: #008FD5;
            --color-secondary: #4DB1E2;
            --color-dark-bg: #1C2D36;
            --color-text-dark: #000000;
            --color-text-light: #FFFFFF;
            
            
            /* Tipografía */
            --font-family-base: 'Lato', sans-serif;
        }

