section:not(#banner) {
	margin: 0 8rem;
}
#banner h2{
    text-align: center;
    margin-top: 4rem;
}
h4.divider-title {
	margin-top: 4rem;
	margin-bottom: 2rem;
}

.funcionalidades{
    flex-direction: column;
    height: auto;
    margin-bottom: 4rem;

}

.funcionalidades .benefit .card-container{
    min-width: 16rem;
    height: auto;
}

.funcionalidades .benefit:nth-child(even) .card-container{
    background-color: var(--color-secondary);
}

.benefit{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.benefit:not(:last-child){
    border-bottom: var(--color-primary) 1px solid;
}
.benefits-container{

    flex-grow: 1;
    padding: 1rem 2rem;
}

.benefit-header, .benefit-p{
color: black;
text-align: left;
}

.benefits-container i {
    margin-right: 1rem;
    background-color: var(--color-secondary);
    padding: 1rem;
    color: white;
}

.benefit-p {
    font-weight: 300;
    margin-bottom: 1rem;
}




#CTA-btn{
    margin-bottom: 4rem !important;
}