@import url(./normalize.css);
@import url(./variables.css);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap);

body {
	font-family: var(--font-family-base);
	background-color: #f8f9fa;
	padding-top: 76px; /* Para compensar el header fijo */
}

/* HEADER ESTILOS */
header {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
	display: flex;
	align-items: center;
}

header h1 {
	font-weight: 700;
	font-size: 26px;
	margin: 0;
}

.icono-header {
	font-size: 30px;
	color: var(--color-primary);
	position: relative;
	left: -16px;
}

.icono-header + .right {
	left: -24px;
}

/* NAVBAR */

.navbar {
	background-color: white;
}

.navbar-nav .nav-link {
	font-size: 16px;
	font-weight: 500;
	color: var(--color-text-dark);
	padding: 1rem 1.3rem !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.navbar-nav .nav-link.active {
	background-color: var(--color-secondary);
	color: var(--color-text-light);
}

.navbar-nav .nav-link i {
	display: none;
	margin-bottom: 4px;
}

.navbar-nav .nav-link.active i {
	display: block;
}

/* HOVER animaciones menu */
.navbar-nav .nav-link.active:hover i {
	animation: shake 0.9s ease-in-out;
}
.navbar-nav .nav-link:not(.active):hover {
	color: var(--color-secondary) !important;
	transform: scale(1.05);
	transition: all 0.3s ease;
}
@keyframes shake {
	0% {
		transform: rotate(0deg);
	}
	15% {
		transform: rotate(10deg);
	}
	30% {
		transform: rotate(-10deg);
	}
	45% {
		transform: rotate(7deg);
	}
	60% {
		transform: rotate(-7deg);
	}
	75% {
		transform: rotate(3deg);
	}
	85% {
		transform: rotate(-3deg);
	}
	92% {
		transform: rotate(1deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/* Botón hamburguesa */
.navbar-toggler {
	border: none;
	font-size: 1.5rem;
	color: var(--color-primary);
	padding: 0.25rem 0.5rem;
}

.navbar-toggler:focus {
	box-shadow: none;
}

/* HOME: SECCION BANNER */
#banner img {
	width: 100%;
	height: 30rem;
	object-fit: cover;
	object-position: center 50%;
}

#banner .funcionalidades {
	display: flex;
	padding: 0 6rem;
	text-align: center;
	color: white;
	height: 26rem;
}
#banner .funcionalidades article {
	display: flex;
	flex-direction: column;
	width: 25%;
	padding: 1rem 4rem;
	height: 100%;
	justify-content: center;
}
#banner .funcionalidades article:nth-child(odd) {
	background-color: var(--color-primary);
}

#banner .funcionalidades article:nth-child(even) {
	background-color: var(--color-secondary);
}

#banner .funcionalidades article i {
	font-size: 6rem;
	margin-bottom: 2rem;
}

#banner .funcionalidades article h3 {
	font-size: 1.4rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

#banner .funcionalidades article p {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.4;
}

.btn{
	border-radius: 0;
}
/* HOME: SECCION HERO */
.btn-primary {
	background-color: var(--color-primary);
}

p.subtitulo {
	font-size: 1.5rem;
	font-weight: 400;
}

#hero div#CTA-btn {
	margin-left: 4rem;
}

/* HOME: Seccion Clientes */
#clients {
	padding: 0 6rem;
}
.divider-title {
	border-left: var(--color-primary) 4px solid;
	padding-left: 0.5rem;
}
.section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.card-wrapper {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
}
.card-wrapper article img {
	width: 100%;
	height: 16rem;
	object-fit: cover;
	object-position: center 20%;
	border-radius: 0;
}
.card {
	width: 16rem;
	background-color: transparent;
	border: none;
	border-radius: 0;
	text-align: center;
	border-bottom: var(--color-primary) 6px solid;
}

.card-body {
	padding: 0.8rem 1.3rem 1.5rem 1.3rem;
}
.card-body h5 {
	font-size: 1rem;
	margin-bottom: 0rem;
}
.card-body p {
	font-size: 0.8rem;
	font-weight: 400;
	line-height: 1.4;
	color: var(--color-secondary);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-color: var(--color-primary);
	padding: 1rem;
}

.control-wrapper {
	position: relative;
	display: flex;
	width: 3rem;
	margin-right: 1rem;
}

/* HOME: SECCION INFO */
#info {
	border: violet 2px solid;
	padding: 0 6rem;
	display: flex;
	justify-content: space-between;
}

#info > article {
	display: flex;
	flex-direction: column;
	width: 30%;
}
#info > article > h4 {
	margin-bottom: 1.5rem;}
	
.accordion-item h2 {
	height: 3.5rem;
}
.accordion-item h2 button {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

#info-services .accordion-item h2 button i, #info-contact .form-outline i {
	margin-right: 1rem;
	background-color: var(--color-secondary);
	height: 100%;
	color: white;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	z-index: 2;
}
#info-services .accordion-button i::after, #info-contact .form-outline i::after {
	content: "";
	position: absolute;
	right: 87%;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	
}

.accordion-body{
	padding-left: 3.5rem;
}
.accordion-item p{
	font-size: 1rem;
	color: #7C7C7C;
}
.accordion-body li{
	list-style: disc;
	font-size: 1rem;
	color: #7C7C7C;
	margin-bottom: 1rem;
	}

/* Alternar colores para los elementos del acordeón */
#info-services .accordion-item:nth-child(odd) .accordion-button i, #info-contact .form-outline:nth-child(odd) i {
	background-color: var(--color-primary);
}

#info-services .accordion-item:nth-child(odd) .accordion-button i::after, #info-contact .form-outline:nth-child(odd) i::after {
	border-left: 15px solid var(--color-primary);
}

#info-services .accordion-item:nth-child(even) .accordion-button i, #info-contact .form-outline:nth-child(even) i {
	background-color: var(--color-secondary);
}

#info-services .accordion-item:nth-child(even) .accordion-button i::after, #info-contact .form-outline:nth-child(even) i::after {
	border-left: 15px solid var(--color-secondary);
}

ul.accordion-body {
	display: flex;
	flex-direction: column;
	text-align: justify;
}
#info-plans .btn-primary {
	margin-top: 1rem;
	list-style: none;
	color: white;
	align-self: end;
}

#info-plans i{
	color: var(--color-primary);
	font-size: 1.2rem;
	padding-right: 1rem;
}

/* info contacto */
#contact-form{
	display: flex;
	flex-direction: column;
	
}

#contact-form input, #contact-form textarea{
	border-radius: 0;
	padding:0.8rem;
	font-size: 0.9rem;
	position: relative;
}

#contact-form input{
	height: 3rem;
}
#contact-form input::placeholder, #contact-form textarea::placeholder{
	color: #7C7C7C;
	font-weight: 300;
}
#info-contact .form-outline {
  position: relative;
}

#info-contact .form-control {
  padding-left: 5rem !important;
}
  
  #info-contact textarea.form-control {
  padding-left: 5rem !important;
  padding-top: 0.8rem;
  resize: none; 
    overflow: hidden; 
    height: 10rem; 
}

#contact-form .form-outline i {
  position: absolute;
  top: 50%;
  
  transform: translateY(-50%);
  z-index: 2;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact-form .form-outline i::after {
  right: auto;
  left: 80%;
  border-left: none;
  border-right: 15px solid;
}

#info-contact .form-outline:last-child i, 
#info-contact .form-outline:has(textarea) i {
    height: 3rem !important; 
    top: 1.5rem !important; 
    align-items: flex-start !important; 
    padding-top: 0.8rem;
}

#info-contact .form-outline:last-child i::after, 
#info-contact .form-outline:has(textarea) i::after {
    top: 1.5rem !important;
    transform: translateY(-50%);
}

#contact-form button{
	align-self: end;
	padding: 0.8rem 1rem;
	font-size: 0.8rem;
	margin-top: 1rem;
}




section {
	margin-bottom: 4rem;
}

/* MEDIA QUERY RESPONSIVE*/

/* HEADER */
@media (max-width: 991.98px) {
	.navbar-collapse {
		background-color: white;
		padding: 1rem;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}

	.navbar-nav .nav-link {
		padding: 0.75rem 1rem;
	}
}
@media (min-width: 992px) {
	.navbar {
		padding: 0;
	}
}
